
.node-link-contour-view {
    -fx-border-width:   1px;
    -fx-border-color:   -base-intensity-low;
    -fx-padding:        .5em;
}

.network-node {
    -fx-background-color:   -base-intensity-high;
    -fx-border-width:       2px;
    -fx-border-color:       -base-intensity-low;

    -fx-padding:            0 .5em 0 .5em;
    -fx-border-radius:      2em;    /* High value to guarantee circular ends. */
    -fx-background-radius:  2em;

    -fx-cursor:             hand;
}

.network-node.highlighted {
    -fx-background-color:   -base-intensity-lowest;
    -fx-border-color:       -base-intensity-lowest;
    -fx-text-fill:          -base-intensity-high;
}

.network-link {
    -fx-stroke-width:   2px;
    -fx-stroke:         -base-intensity-low;
}

.network-link.selected {
    -fx-stroke-width:   4px;
    -fx-stroke:         -base-intensity-lowest;
}

.network-contour-ribbon {
    -fx-stroke-width:   0px;
}

.network-contour-hard-outline {
    -fx-stroke-width:   2px;
    -fx-stroke:         -base-intensity-low;
}