public  static String convert_to_atom(String readAtom){
	 	String carbon = "C";
	 	String oxigen = "O";
	 	String hydrogen = "H";
		 String nitrogen = "N";
	 	String Atom = "";
	 	if( readAtom.contains(carbon) ) Atom = "C";
     		else if(readAtom.contains(hydrogen)) Atom = "H";
     		else if(readAtom.contains(oxigen)) Atom = "O";
     		else if(readAtom.contains(nitrogen)) Atom = "N";		 
    	return Atom;
	}
